body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    width: 600px;
    margin: auto;
    margin-top: 40px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

button {
    padding: 6px 12px;
    margin: 3px;
    cursor: pointer;
    border-radius: 5px;
}

#resetBtn {
    margin-top: 15px;
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
}

.present-btn {
    background: green;
    color: white;
    border: none;
}

.absent-btn {
    background: orange;
    color: white;
    border: none;
}
